<script type="text/javascript">
    (() => {
        /* Default values */
        const userAgent =
            'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36';
        /* Setup */
        RED.nodes.registerType('zombie-crawler', {
            category: 'network',
            color: '#FFAA00',
            defaults: {
                name: { value: '' },
                userAgent: { value: userAgent },
                nbThreads: { value: 1, validate: RED.validators.number() },
                waitDuration: { value: 30, validate: RED.validators.number() },
                notVerifyTLS: { value: false },
                ignoreDroppedRequests: { value: true },
                verbose: { value: false },
                runScripts: { value: true },
                loadCSS: { value: true }
            },
            inputs: 1,
            outputs: 2,
            icon: 'zcbase.png',
            align: 'left',
            label: function() {
                return this.name || 'zombie-crawler';
            }
        });
    })();
</script>

<script type="text/html" data-template-name="zombie-crawler">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-userAgent"><i class="fa fa-address-card"></i> User-Agent</label>
        <input type="text" id="node-input-userAgent" placeholder="Mozilla/5.0...">
    </div>
    <div class="form-row">
        <label for="node-input-nbThreads"><i class="fa fa-cogs"></i> Nb Threads</label>
        <input type="number" min="0" id="node-input-nbThreads">
    </div>
    <div class="form-row">
        <label for="node-input-waitDuration"><i class="fa fa-clock-o"></i> Wait duration</label>
        <input type="number" min="0" id="node-input-waitDuration">
    </div>
    <!--
        <div class="form-row">
            <label for="node-input-notVerifyTLS"><i class="fa fa-shield"></i> Not verify SSL/TLS</label>
            <input type="checkbox" id="node-input-notVerifyTLS">
        </div>
        <div class="form-row">
            <label for="node-input-ignoreDroppedRequests"><i class="fa fa-times"></i> Ignore drop requests</label>
            <input type="checkbox" id="node-input-ignoreDroppedRequests">
        </div>
    -->
    <div class="form-row">
        <label for="node-input-verbose"><i class="fa fa-terminal"></i> Verbose</label>
        <input type="checkbox" id="node-input-verbose">
    </div>

    <h3>Browser Options</h3>
    <div class="form-row">
        <label for="node-input-runScripts"><i class="fa fa-code"></i> Load Scripts</label>
        <input type="checkbox" id="node-input-runScripts">
    </div>
    <div class="form-row">
        <label for="node-input-loadCSS"><i class="fa fa-css3"></i> Load CSS</label>
        <input type="checkbox" id="node-input-loadCSS">
    </div>
</script>

<script type="text/html" data-help-name="zombie-crawler">
    <p>Basic node</p>
</script>
